body {
  display: flex;
  justify-content: center;
}

.main {
  padding: 5px 15px;
  justify-content: center;
  text-align: center;
  border: 2px solid blue;
  display: flex;
  width: 800px;
  height: 500px;
}

.child {
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

p {
  margin: 0;
  margin-top: 10px;
}

.column p{
  width: 20%;
  margin-right: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.text {
  margin-right: 10px;
}

.column p {
  display: flex;
  flex-direction: column;
}

select {
  width: 200px;
  height: 30px;
}

input {
  width: 193px;
  height: 30px;
}

.column p {
  margin-bottom: 5%;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

h3 {
  margin-right: 5%;
  margin-bottom: 25%;
}
